.navigation {
    height: 85px;
    padding: 10px;
    background-color: #191d2b;
    color: aquamarine;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.active {
    padding: 10px;
    margin: 10px;
    color: rebeccapurple;
    font-size: 36px;
    border: 1px solid rebeccapurple;
    border-radius: 7px;
    text-decoration: none;
}

.inactive {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: aquamarine;
    font-size: 30px;
    transition: all 0.5s ease-in-out;
}

.inactive:hover {
    border-radius: 7px;
    font-size: 36px;
    color: rebeccapurple;
    border: 1px solid rebeccapurple;
}
