.item {
    margin-left: 5px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: auto;
    background-color: transparent;
    color: aquamarine;
    border-radius: 5px 0 5px 5px;
    border: 1px solid aquamarine;
    padding: 10px 12px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    color: rebeccapurple;
    border: 1px solid rebeccapurple;
}

.text {
    font-size: 28px;
    color: aquamarine;
    margin: 10px;
}
