.wrapper {
    display: flex;
    justify-content: center;
}

.list {
    border-radius: 15px 0px 15px 15px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 30px;
}

.loader {
    color: aquamarine;
    margin-top: 40px;
    margin-left: 180px;
}
